---
title: "GO Rocket Grunts Guide"
---

<div class="container">
  <h3 class="mb-4">วิธีต่อสู้ GO Rocket Grunts</h3>
  <p class="mb-4">
    GO Rocket Grunts คือเหล่าวายร้ายที่จะโผล่มาตาม PokéStop (ทำให้กลายเป็นสีดำ)
    หรือบางครั้งก็จะนั่งบอลลูนสีดำมา โดยวายร้ายเหล่านี้จะมีชุดของโปเกมอนที่เลือกใช้ทั้งทีมเป็น <b>"ประเภทเดียวกัน"</b>
  </p>

  <p class="mb-4">
    ดังนั้นการรู้ว่าวายร้ายเหล่านี้ใช้โปเกมอนชุดไหนและเลือกโปเกมอนที่ <b>"ชนะทาง"</b>
    เข้าไปสู้จะทำให้ชนะได้อย่างง่ายดาย ส่วนวิธีการดูว่าทีมวายร้ายใช้โปเกมอนชุดไหนนั้นสามารถสังเกตได้จากประโยคที่
    พวกเขาพูดในหน้าที่มีปุ่ม Battle
    (<%= link_to "ดูตัวอย่าง", image_path('rocket-grunt/grunt-example.png'), target: "_blank" %>)
  </p>

  <p class="mb-4">
    โดยบทความนี้ได้รวบรวมประโยคที่เหล่าวายร้ายใช้คู่กับชุดโปเกมอน (ตัวใดตัวหนึ่งจากในลิสต์) และประเภทที่ควรเลือกเข้าไปสู้ไว้ให้แล้ว
  </p>

  <small class="text-warning">* ข้อมูลอัพเดทล่าสุดเดือน <b>ธันวาคม 2020</b></small>

  <div class="mt-5">
    <% data.grunt.each do |grunt_data| %>
      <small class="text-muted">ประโยค</small>
      <h1 class="text-info mb-3">
        <strong><%= grunt_data.text %></strong>
      </h1>

      <div class="mb-3">
        ประเภท:
        <% if grunt_data.main_type.is_a? Array %>
          <% grunt_data.main_type.each do |type| %>
            <%= type_icon type, size: 26, css_class: 'ml-2' %>
          <% end %>
        <% else %>
          <%= type_icon grunt_data.main_type, size: 26, css_class: 'ml-2' %>
        <% end %>

        <strong class="ml-4 text-success">ควรเลือก:</strong>
        <% grunt_data.recommended_type.each do |type| %>
          <%= type_icon type, size: 32, css_class: 'win-type ml-2' %>
        <% end %>
      </div>

      <div class="row mb-5">
        <% 3.times.each do |i| %>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="mb-2">โปเกมอน <%= i + 1 %></div>
            <div class="bg-light rounded mb-2">
              <div class="row">
                <% grunt_data["pokemon_#{i+1}"].each do |number| %>
                  <div class="col-4">
                    <%= image_tag pokemon_image_by_number(number), class: 'w-100' %>
                    <% pokemon_data = data.pokemon[number] %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="pb-5 pt-3"></div>
    <% end %>
  </div>
</div>
